@model CollectingReviews.Models.Review;
@{
    Layout = Layout;
}

<div class="card" style="width: 30rem;">
    <ul class="list-group list-group-flush">
        <li class="card-title">@Model.Name</li>
        <li class="card-subtitle mb-2 text-muted">@Model.OrganizationName</li>
        <li class="card-text">@Model.GoodFeedback</li>
        <li class="card-text">@Model.BadFeedback</li>
        <li class="card-text">@Model.Coments</li>
        <li class="card-text">@Model.Estimation</li>
        </ul>
@*         <a href="#" class="card-link">Ссылка карточки</a>
        <a href="#" class="card-link">Другая ссылка</a> *@
    </div>
</div>